---
layout: search
---
<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div id="Search">
   <div class="searchable">
      <div class="w3-container" style="background-color: #f1f1f1;">
        <br><input type="text" autofocus placeholder=" 🔍 Buscar Sagas de Dragon Ball Super..."/><br>   
      </div>
      <div id="myLISTADO" class="my-list ">  
         <ul class="w3-ul">
           <li class="listado searchable-item" >
             <article class="search">
                <header class="post-header">
                  <h1 class="post-title">{{ page.title | escape }}</h1>
                </header>          
                <div class="post-content">
                  {{ content }}
                </div>      
              </article>
            </li>
          </ul>
      </div>
    </div>
</div>



